body {
    font-family: 'Epilogue', sans-serif;
}
.navbar-brand {
    color: hsl(0, 0%, 8%);
}
.navbar-nav {
    margin-left: 30px;
}
.nav-item {
    margin: auto 10px;
}
.btn {
    color: hsl(0, 0%, 41%);
}
.btn:hover {
    border-style: none;
    color: hsl(0, 0%, 8%);
}
.nav-link {
    color: hsl(0, 0%, 41%);
    text-decoration: none;
}
.nav-link:hover {
    color: hsl(0, 0%, 8%);
}
.dropdown-menu {
    padding: 10px;
    padding-left: 30px;
    margin-left: -27px;
}
.dropdown-menu > li {
    margin: 10px auto;
}
.dropdown-menu > li > a {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    padding: 20px auto;
}
.dropdown-menu > li > a > img {
    margin-right: 15px;
}
.register {
    border: 1px solid hsl(0, 0%, 8%);
    border-radius: 10px;
}
div > .nav-link {
    margin: auto 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 50px;
}
.content {
    width: 650px;
    padding-top: 100px;
    padding-left: 100px;
}
.image {
    width: 640px;
}
.image > img {
    width: 450px;
    height: 550px;
    margin-left: 100px;
}
.content > h1 {
    font-size: 70px;
    line-height: 65px;
}
.content > p {
    margin-top: 50px;
    width: 360px;
}
.button {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    background: black;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 10px;
}
.button:hover {
    background: white;
    text-decoration: none;
    color: hsl(0, 0%, 8%);
}
.content > img {
    margin-top: 100px;
}